<%- include('header'); -%>

<h3>Our services</h3>
<ul>
    
<li> Python training</li>
<li> Linux training</li>
<li> Full stack training</li>
<li> DevOps training</li>
<li> Splunk training</li>
</ul>

<%- include('footer'); -%>